$base-color: #2d323e;
$text-color: white;


.mat-drawer-inner-container{
  background-color: $base-color;
}

mat-sidenav{
  background-color: $base-color;

  mat-toolbar{
    background-color: darken($color: $base-color, $amount: 7);;
    color: $text-color;
  }

  mat-expansion-panel{
    background-color: $base-color;
    color: $text-color;
    border-radius: 0px;


    .mat-expansion-panel-header::after{
      color: $text-color !important;
    }

    .mat-expansion-panel-header:hover{
        background: darken($color: $base-color, $amount: 3);
    }
    .mat-expansion-panel-header.mat-expanded{
      background: darken($color: $base-color, $amount: 5);
    }
    a.mat-list-item{
      color: $text-color;
      font-size: 1em;


      :hover{
        background: darken($color: $base-color, $amount: 3);
      }
    }
  }


}
.mat-list-item.active-link {
  background-color: lighten($color:  $base-color, $amount: 5);
  color: white;
  border-radius: 0 20px 20px 0;
}
