<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      attr.role='navigation'
      mode='side'
      [opened]="false">
    <mat-toolbar style="height: 8vh;">Menu</mat-toolbar >
    <mat-nav-list>
      <a mat-list-item routerLink="/cartola-flujo">Flujo</a>
      <a mat-list-item routerLink="/cartola-flujo">Stock</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary" style="height: 8vh;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Comex</span>
    </mat-toolbar>

      <ng-content selector="#contend"></ng-content>
      <ng-content selector="#footer"></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
