.sidenav{
    background-color: #2d323e !important;
}
/*
.mat-drawer-inner-container
{
    background-color: #2d323e !important;
}
mat-side-nav{
    background-color: #2d323e !important;

    mat-accordion{
        background-color: #2d323e !important;
    }
}
*/
.mat-list-item.active-link {
    background-color: white;
    border-radius: 5px;    
    color: white;
}
.nav-toolbar
{
    background-color: #1e2129;
    color: white;
}
.mat-accordion .mat-expansion-panel{
        border-radius: 0;
    }
.nav-menu {
    width: 250px;
    background-color: #2d323e;

    .nav-menu-header-title:hover{
        background-color: rgba(0,0,0,.04);
        display: flex;
    }

    .mat-expansion-panel-header{

        background-color: #2d323e !important;
        border-radius: 0;
        
        

        .nav-menu-header-title
        {
            color: white;
        }
    }

  }