<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      attr.role='navigation'
      mode='side'
      [opened]="false">
    
    <mat-toolbar class="nav-toolbar">Menu</mat-toolbar >
      
    <mat-accordion class="nav-menu" >

      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <div class="nav-menu-header-title"> Cartolas </div>
        </mat-expansion-panel-header>
        <mat-nav-list>
        <a mat-list-item routerLinkActive="active-link" routerLink="/cartolas/flujo/list">Cartolas de Flujo</a>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="nav-menu-header-title"> Cartolas Stock</div> 
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLinkActive="active-link" routerLink="/cartolas/stock/detail/sin-negociar">Sin Negociar</a>
            <a mat-list-item routerLinkActive="active-link" routerLink="/cartolas/stock/detail/stand-by">Stand-By</a>
            <a mat-list-item routerLinkActive="active-link" routerLink="/cartolas/stock/detail/opns-contado">Operaciones Contado</a>
        </mat-nav-list>
        </mat-expansion-panel>
        
      </mat-nav-list>
      </mat-expansion-panel>
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div class="nav-menu-header-title"> Mantenedor </div>
        </mat-expansion-panel-header>
    
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-link" routerLink="/admin/clientes/list">Clientes</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-link" routerLink="/admin/emails/list">Emails</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-link" routerLink="/admin/emails/cuentas">Emails-cuentas</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-link" routerLink="/admin/cargos/list">Cargos</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-link" routerLink="/admin/servicios/list">Servicios</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-link" routerLink="/admin/ejecutivos/list">Ejecutivos</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-link" routerLink="/admin/sucursales/list">Sucursales</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-link" routerLink="/admin/interfaces/list">Interfaces</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-link" routerLink="/admin/parametros/list">Parametros</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-link" routerLink="/admin/colocaciones/list">Colocaciones</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-link" routerLink="/admin/cobranzas/list">Cobranzas</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-link" routerLink="/admin/flujos/list">Flujos/eliminar</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-link" routerLink="/admin/flujos/flujos-certificar">Flujos/certificar</a>
          
        </mat-nav-list>
            
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div class="nav-menu-header-title"> Informes </div>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLinkActive="active-link" routerLink="/informes/cuadre-flujo/print">Cuadre Flujo</a>
            <a mat-list-item routerLinkActive="active-link" routerLink="/informes/cuadre-flujo/resumen">Flujo Resumen</a>
            <a mat-list-item routerLinkActive="active-link" routerLink="/informes/cuadre-flujo/general">Flujo General</a>
            <a mat-list-item routerLinkActive="active-link" routerLink="/informes/stock-cobranza/print">Stock cobranza</a>
            <a mat-list-item routerLinkActive="active-link" routerLink="/informes/stock-cobranza/resumen">Cobranza Resumen</a>
            <a mat-list-item routerLinkActive="active-link" routerLink="/informes/stock-cobranza/general">Cobranza General</a>
            <a mat-list-item routerLinkActive="active-link" routerLink="/informes/stock-colocaciones/print">Stock Colocaciones</a>
            <a mat-list-item routerLinkActive="active-link" routerLink="/informes/stock-colocaciones/resumen">Stock Colocaciones Resumen</a>
            <a mat-list-item routerLinkActive="active-link" routerLink="/informes/stock-colocaciones/general">Stock Colocaciones General</a>
        </mat-nav-list>
        </mat-expansion-panel>
      
      </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="warn" style="height: 8vh;">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div>Comex</div>
    </mat-toolbar>

      <ng-content selector="#content"></ng-content>
      <ng-content selector="#footer"></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
