<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      attr.role='navigation'
      mode='side'
      [opened]="false">
    <mat-toolbar style="height: 8vh;">Menu</mat-toolbar >
    <mat-nav-list>
      <a mat-list-item routerLink="auth/login">login</a>
      <a mat-list-item routerLink="auth/password-recover">password-recover</a>
      <a mat-list-item routerLink="cartolas/flujo/list">cartolas-flujo-list</a>
      <a mat-list-item routerLink="cartolas/flujo/detail">flujo-detail</a>
      <a mat-list-item routerLink="cartolas/flujo/print">flujo-print</a>
      <a mat-list-item routerLink="cartolas/flujo/xls">flujo-xls</a>
      <a mat-list-item routerLink="cartolas/flujo/pdf-aviso">flujo-pdf-aviso</a>
      <a mat-list-item routerLink="cartolas/flujo/pdf-switf">flujo-pdf-switf</a>
      <a mat-list-item routerLink="cartolas/stock/list">cartolas-stock-list</a>
      <a mat-list-item routerLink="cartolas/stock/detail/sin-negociar">cartolas-stock-sin-negociar</a>
      <a mat-list-item routerLink="cartolas/stock/detail/stand-by">cartolas-stock-stand-by</a>
      <a mat-list-item routerLink="cartolas/stock/detail/opns-contado">cartolas-stock-opns-contado</a>
      <a mat-list-item routerLink="admin/clientes/list">clientes</a>
      <a mat-list-item routerLink="admin/emails/list">emails</a>
      <a mat-list-item routerLink="admin/emails/activate">emails-activate</a>
      <a mat-list-item routerLink="admin/emails/cuentas">emails-cuentas</a>
      <a mat-list-item routerLink="admin/cargos/list">cargos</a>
      <a mat-list-item routerLink="admin/servicios/list">servicios</a>
      <a mat-list-item routerLink="admin/ejecutivos/list">ejecutivos</a>
      <a mat-list-item routerLink="admin/sucursales/list">sucursales</a>
      <a mat-list-item routerLink="admin/interfaces/list">interfaces</a>
      <a mat-list-item routerLink="admin/parametros/list">parametros</a>
      <a mat-list-item routerLink="admin/colocaciones/list">colocaciones</a>
      <a mat-list-item routerLink="admin/colocaciones/certificar">colocaciones-certificar</a>
      <a mat-list-item routerLink="admin/cobranzas/list">cobranzas</a>
      <a mat-list-item routerLink="admin/cobranzas/cobranzas-certificar">cobranzas-certificar</a>
      <a mat-list-item routerLink="admin/flujos/list">flujos-list/eliminar</a>
      <a mat-list-item routerLink="admin/flujos/flujos-certificar">flujos-certificar</a>
      <a mat-list-item routerLink="informes/cuadre-flujo/print">cuadre-flujo-print</a>
      <a mat-list-item routerLink="informes/cuadre-flujo/resumen">flujo-list-resumen</a>
      <a mat-list-item routerLink="informes/cuadre-flujo/general">flujo-list-general</a>
      <a mat-list-item routerLink="informes/stock-cobranza/print">stock-cobranza-print</a>
      <a mat-list-item routerLink="informes/stock-cobranza/resumen">cobranza-list-resumen</a>
      <a mat-list-item routerLink="informes/stock-cobranza/general">cobranza-list-general</a>
      <a mat-list-item routerLink="informes/stock-colocaciones/print">stock-colocaciones-print</a>
      <a mat-list-item routerLink="informes/stock-colocaciones/resumen">colocaciones-list-resumen</a>
      <a mat-list-item routerLink="informes/stock-colocaciones/general">colocaciones-list-general</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="warn" style="height: 8vh;">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Comex</span>
    </mat-toolbar>

      <ng-content selector="#content"></ng-content>
      <ng-content selector="#footer"></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
