<mat-card>
    <mat-card-title><h3 color="primary">Grupo Santander</h3></mat-card-title>
    <mat-card-content>

        <mat-form-field>
            <input matInput placeholder="Nombre del Banco" [(ngModel)]="form.nb_banco">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nombre del Banco" [(ngModel)]="form.nb_banco">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nombre del Banco" [(ngModel)]="form.nb_banco">
        </mat-form-field>

       <h3>{{ form.nb_banco }}</h3>
    </mat-card-content>

</mat-card>


