<div class="grid-container">

  <h4 class="mat-h4 bg-light p-2 mx-3 rounded "><mat-icon>assessment</mat-icon> Dashboard</h4>

  <mat-grid-list cols="4" rowHeight="200px">

    <mat-grid-tile>
      <app-simple-widget
        class="dashboard-card"
        colorClass="bg-warning text-white"
        title="Cartolas de Flujo"
        icon="sync"
        text="125"
      ></app-simple-widget>
    </mat-grid-tile>

    <mat-grid-tile>
      <app-simple-widget
        class="dashboard-card"
        colorClass="bg-success text-white"
        title="Cartolas Stock"
        icon="account_balance"
        text="226"
      ></app-simple-widget>
    </mat-grid-tile>

    <mat-grid-tile>
      <app-simple-widget
        class="dashboard-card"
        colorClass="bg-danger text-white"
        title="Sin Negociar"
        icon="work_off"
        text="52"
      ></app-simple-widget>
    </mat-grid-tile>

    <mat-grid-tile>
      <app-simple-widget
        class="dashboard-card"
        colorClass="bg-info text-white"
        title="Stand-By"
        icon="access_alarm"
        text="28"
      ></app-simple-widget>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="2">
      <app-complex-widget
        class="dashboard-card"
        colorClass="bg-light text-danger"
        title="Cartolas">
          <ngx-charts-bar-vertical class="chatHolder contend"
            [view]=""
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [legendTitle]="legendTitle"
            [animations]="false" >
          </ngx-charts-bar-vertical>
      </app-complex-widget>
    </mat-grid-tile>

    <mat-grid-tile colspan="2" rowspan="2">
      <app-complex-widget
        class="dashboard-card"
        colorClass="bg-light text-danger"
        title="Sucursales">
          <div id="mapHolder" class="mapHolder contend"></div>
      </app-complex-widget>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="2">
      <app-complex-widget
        class="dashboard-card"
        colorClass="bg-light text-danger"
        title="Clientes">
          <ngx-charts-advanced-pie-chart class="chatHolder text-dark contend"
            [view]=""
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient">
          </ngx-charts-advanced-pie-chart>
      </app-complex-widget>
    </mat-grid-tile>

  </mat-grid-list>




