<div class="w-100 h-100 fondo-404">
    <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex mt-5">
        
            <mat-card class="w-100 h-100 bg-info">
            <mat-card-header>
                <mat-card-title class="text-white">Volver al Inicio</mat-card-title>
            </mat-card-header>
            <mat-card-actions>
                <a mat-raised-button color="warn" class="text-white w-100" routerLink="/home">
                    <mat-icon>home</mat-icon> Inicio
                </a>
            </mat-card-actions>
        </mat-card>
        
        </div>

    </div>
</div>
