<button mat-icon-button [matMenuTriggerFor]="actions">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #actions="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="export"><mat-icon>open_in_new</mat-icon>Exportar</button>
    <button mat-menu-item [matMenuTriggerFor]="fields"><mat-icon>visibility</mat-icon>Ver/Ocultar Campos</button>
    <button mat-menu-item><mat-icon>search</mat-icon>Buscar</button>
  </mat-menu>

  <mat-menu #export="matMenu">
    <button mat-menu-item><mat-icon>view_list</mat-icon> Excel</button>
    <button mat-menu-item><mat-icon>picture_as_pdf</mat-icon> Pdf</button>
  </mat-menu>

  <mat-menu role="menuitemradio" #fields="matMenu">
    <button mat-menu-item *ngFor="let colum of colsControl; index as i">
      <mat-slide-toggle checked="true" (change)="alerta(i, $event)" [name]="colum">{{ colum }}</mat-slide-toggle>
    </button>
  </mat-menu>
