
<div mat-dialog-title class="mat-elevation-z2 bg-danger rounded text-white p-2">
  <span class="col">{{title}}</span>
</div>

<form #form="ngForm" [formGroup]="formGroup" class=" rounded ">

  <mat-dialog-content>

    <mat-form-field class="col-md-3">
      <input matInput formControlName="cliRut" placeholder="Rut Cliente" required>
      <mat-icon matSuffix>person</mat-icon>
      <mat-error><app-validator [formField]="cliRut" [fieldName]="'Rut Cliente'"></app-validator></mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <input matInput formControlName="cliNumCtl" placeholder="Nro Cliente" required>
      <mat-error><app-validator [formField]="cliRut" [fieldName]="'Nro Cliente'"></app-validator></mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <input matInput formControlName="cliNom" placeholder="Nombre" required>
      <mat-error><app-validator [formField]="cliNom" [fieldName]="'Nombre'"></app-validator></mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <input matInput formControlName="cliDir" placeholder="Direccion" required>
      <mat-icon matSuffix>house</mat-icon>
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <input matInput formControlName="cliCom" placeholder="Comuna">
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <input matInput formControlName="cliCiu" placeholder="Ciudad">
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <input matInput formControlName="cliCas" placeholder="Casilla">
      <mat-icon matSuffix>markunread_mailbox</mat-icon>
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <input matInput formControlName="cliFon" placeholder="Telefono" required>
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <input matInput formControlName="cliFax" placeholder="Fax" required>
      <mat-icon matSuffix>print</mat-icon>
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <input matInput formControlName="cliEml" placeholder="Email" required>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <input matInput formControlName="cliSrvEml" placeholder="cliSrvEml">
      <mat-error><app-validator [formField]="cliSrvEml"  [fieldName]="'cliSrvEml'"></app-validator></mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <input matInput formControlName="cliSrvFax" placeholder="cliSrvFax">
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <input matInput formControlName="cliSrvMai" placeholder="cliSrvMai">
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <mat-label>Status</mat-label>
      <mat-select formControlName="cliCodSuc">
        <mat-option *ngFor="let item of status" [value]="item.id">
          {{ item.nb_status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <mat-label>Status</mat-label>
      <mat-select formControlName="cliRutEjeCta">
        <mat-option *ngFor="let item of status" [value]="item.id">
          {{ item.nb_status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <mat-label>Status</mat-label>
      <mat-select formControlName="cliTipCli">
        <mat-option *ngFor="let item of status" [value]="item.id">
          {{ item.nb_status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <mat-label>Status</mat-label>
      <mat-select formControlName="cliRutEjeCmx">
        <mat-option *ngFor="let item of status" [value]="item.id">
          {{ item.nb_status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <mat-label>Status</mat-label>
      <mat-select formControlName="cliRutEspCmx">
        <mat-option *ngFor="let item of status" [value]="item.id">
          {{ item.nb_status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-md-6">
      <input matInput formControlName="cliNumDiaVno" placeholder="Dias Vencimiento">
      <mat-icon matSuffix>event_busy</mat-icon>
    </mat-form-field>

    <mat-radio-group formControlName="cliSex" class="col-md-6" required>
      <mat-radio-button value="M" class="col-md-1">M</mat-radio-button>
      <mat-radio-button value="F" class="col-md-1">F</mat-radio-button>
    </mat-radio-group>

  </mat-dialog-content>

  <mat-dialog-actions class="container justify-content-end">

    <app-form-buttons
      (Cancel)="close()"
      (Reset)="form.resetForm()"
      (Send)="send()"
      [disable]="formGroup.invalid"
    ></app-form-buttons>

  </mat-dialog-actions>

</form>
