<div class="mat-elevation-z1 container mt-3 rounded">

  <div class="row">

    <!-- Filter  -->
    <div class="col-10 mt-2">
      <mat-form-field class="w-100" >
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Indique texto a buscar" [(ngModel)]="filterField">
        <button matSuffix mat-icon-button (click)="clearFilter($event.target)">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- Add Button  -->
    <div class="col-1 mt-4">
      <button mat-mini-fab aria-label="Editar" (click)="open()" color="primary" class="mx-3" matTooltip="Agregar" matTooltipPosition="above">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <!-- Head Menu  -->
    <div class="col-1 mt-4">

        <button mat-icon-button [matMenuTriggerFor]="actions">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #actions="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="export"><mat-icon>open_in_new</mat-icon>Exportar</button>
        </mat-menu>

        <mat-menu #export="matMenu">
          <button mat-menu-item><mat-icon>view_list</mat-icon> Excel</button>
          <button mat-menu-item><mat-icon>picture_as_pdf</mat-icon> Pdf</button>
        </mat-menu>

    </div>

  </div>


  <div class="tableHolder row">
  <div class="col mb-3">
    <table mat-table [dataSource]="dataSource" matSort class="w-100">

      <!-- Table Columns -->
      <ng-container matColumnDef="co_sucursal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Cod. Suc </th>
        <td mat-cell *matCellDef="let row" class="text-center">  {{ row.co_sucursal }}  </td>
      </ng-container>

      <ng-container matColumnDef="nu_sucursal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Num. Suc </th>
        <td mat-cell *matCellDef="let row" class="text-center">  {{ row.nu_sucursal }}  </td>
      </ng-container>

      <ng-container matColumnDef="tx_glosa_sucursal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Glosa </th>
        <td mat-cell *matCellDef="let row" class="text-center">  {{ row.tx_glosa_sucursal }}  </td>
      </ng-container>

      <ng-container matColumnDef="tx_direccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Direccion </th>
        <td mat-cell *matCellDef="let row" class="text-center">  {{ row.tx_direccion }}  </td>
      </ng-container>

      <ng-container matColumnDef="nu_direccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Nro </th>
        <td mat-cell *matCellDef="let row" class="text-center">  {{ row.nu_direccion }}  </td>
      </ng-container>

      <ng-container matColumnDef="tx_comuna">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Comuna </th>
        <td mat-cell *matCellDef="let row" class="text-center">  {{ row.tx_comuna }}  </td>
      </ng-container>

      <ng-container matColumnDef="tx_telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Telefono </th>
        <td mat-cell *matCellDef="let row" class="text-center">  {{ row.tx_telefono }}  </td>
      </ng-container>

      <ng-container matColumnDef="tx_fax">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Fax </th>
        <td mat-cell *matCellDef="let row" class="text-center">  {{ row.tx_fax }}  </td>
      </ng-container>

      <ng-container matColumnDef="nu_flg_Idc_banco">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Flg. Bco </th>
        <td mat-cell *matCellDef="let row" class="text-center">  {{ row.nu_flg_Idc_banco }}  </td>
      </ng-container>

      <ng-container matColumnDef="nu_banco">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Num. Bco </th>
        <td mat-cell *matCellDef="let row" class="text-center">  {{ row.nu_banco }}  </td>
      </ng-container>

      <ng-container matColumnDef="tx_email_agente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Email. Agte. </th>
        <td mat-cell *matCellDef="let row" class="text-center">  {{ row.tx_email_agente }}  </td>
      </ng-container>


      <!-- Short Example -->

      <!--
      <mat-text-column name="co_sucursal" headerText="COD SUC" class="col"></mat-text-column>
      <mat-text-column name="nu_sucursal" headerText="NU SUC" class="col"></mat-text-column>
      <mat-text-column name="tx_glosa_sucursal" headerText="GLOSA" class="col"></mat-text-column>
      <mat-text-column name="tx_direccion" headerText="DIRECCION" class="col"></mat-text-column>
      <mat-text-column name="nu_direccion" headerText="DIRECCION" class="col"></mat-text-column>
      <mat-text-column name="tx_comuna" headerText="COMUNA" class="col"></mat-text-column>
      <mat-text-column name="tx_telefono" headerText="TELEFONO" class="col"></mat-text-column>
      <mat-text-column name="tx_fax" headerText="FAX" class="col"></mat-text-column>
      <mat-text-column name="nu_flg_Idc_banco" headerText="IDC BCO" class="col"></mat-text-column>
      <mat-text-column name="nu_banco" headerText="NU BCO" class="col"></mat-text-column>
      <mat-text-column name="tx_email_agente" headerText="AGTE" class="col"></mat-text-column>
      <mat-text-column name="id" headerText="AGTE" class="col"></mat-text-column>
      -->


      <!-- Table Actions  -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
        <td mat-cell *matCellDef="let row" class="text-center">

          <button mat-icon-button aria-label="Editar" color="primary" class="mx-1" matTooltip="Editar" matTooltipPosition="left">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button aria-label="Editar" color="warn" class="mx-1" matTooltip="Eliminar" matTooltipPosition="right">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

      <mat-paginator #paginator
          [length]="dataSource?.data.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 15, 20]">
      </mat-paginator>
    </div>
    </div>
  </div>



