
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .card-contend {
    position: relative;
    max-height: 295px;
  }

  .card-contend:before {
    display: block;
    content: '';
    padding-top: 100%;
  }

  .mapHolder {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: black;
    border-radius: 0.5rem;
  }

  .chatHolder {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
