<main class=" mw-100 mh-100">
  <div class="container mt-5 pt-5 ">
      <div class="row justify-content-center align-items-center">
          <div class="col-md-6">
          <div class="col-md-12">

              <form>
                  <mat-card>

                      <mat-toolbar color="primary" class="mat-elevation-z6">
                        <h3 >Login</h3>
                      </mat-toolbar>

                      <mat-card-content class="py-4">

                          <mat-form-field class="col-md-12 my-2">
                              <input matInput placeholder="Usuario">
                          </mat-form-field>

                          <mat-form-field class="col-md-12 my-2">
                              <input matInput type="password" placeholder="Contraseña">
                          </mat-form-field>

                      </mat-card-content>

                      <mat-card-actions class="d-flex justify-content-center align-items-center py-2">
                          <button mat-raised-button color="primary">Ingresar</button>
                          <button mat-raised-button color="warn">Limpiar</button>
                      </mat-card-actions>

                  </mat-card>
              </form>

          </div>
          </div>
      </div>
  </div>
</main>

