<main class="login-page">
  <div class="container">
  <div class="row justify-content-center" style="height: 100vh">
  <div class="d-flex col-md-5 col-10 align-items-center">
  <div class="col-md-12">

    <form (ngSubmit)="onSubmit($event)" [formGroup]="formLogin">

      <mat-card class="mat-elevation-z5 p-4">

        <div class="m-auto rounded w-100 h-100 text-center">
          <div class="bg-primary d-inline-block rounded">
            <img class="img-thumbnail" src="../../../../../assets/favicon/favicon-96x96.png" alt="">
          </div>

          <h1 class="display-4 text-danger d-block w-100 mt-1">COMEX</h1>
          <h5 class="text-muted">Cartolas de Comercio Internacional</h5>
        </div>

        <mat-card-content class="mt-4">

          <mat-form-field appearance="outline" class="col-md-12 mt-2">

            <mat-label>Usuario</mat-label>
            <input matInput formControlName="user" placeholder="Usuario">
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-error>
              <app-validator [formField]="user"  [fieldName]="'password'"></app-validator>
            </mat-error>

          </mat-form-field>

          <mat-form-field appearance="outline" class="col-md-12">

            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" [type]="(isHidden) ? 'password' : 'text'" placeholder="Contraseña">
            <mat-icon matSuffix (click)="isHidden = !isHidden">{{ (isHidden) ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error>
              <app-validator [formField]="password"  [fieldName]="'contraseña'"></app-validator>
            </mat-error>

          </mat-form-field>


        </mat-card-content>

        <mat-card-actions class="row p-3">
            <button class="d-block w-100 mx-0" type="submit" mat-raised-button [disabled]="formLogin.invalid" color="primary">Ingresar</button>
            <button class="d-block w-100 mx-0 mt-1" type="reset" mat-raised-button color="warn">Limpiar</button>
        </mat-card-actions>

        </mat-card>

    </form>

  </div>
  </div>
  </div>
  </div>
</main>

