<h3 class="rounded text-white p-2 bg-info">
  <span >Clientes</span>
</h3>

<div class="container-fluid">

  <div class="row">
    <!-- Filter  -->
    <app-table-filter class="col-md-6"
      (filter)="table.applyFilter($event)"
      (clear)="table.clearFilter()"
      [(inputModel)]="table.filterField" >
    </app-table-filter>

    <div class="col-md-6 mt-3 text-right">
      <!-- Add Button  -->
      <button mat-mini-fab (click)="create()" color="primary" class="mx-3" matTooltip="Agregar" matTooltipPosition="above">
        <mat-icon>add</mat-icon>
      </button>
      <!-- Head Menu  -->
      <app-form-menu [columns]="table.defineCols" (showHideCol)="table.showHideCols($event)"></app-form-menu>
    </div>

  </div>

  <mat-progress-bar *ngIf="table.loading" mode="query"></mat-progress-bar>

  <div class="table-holder row" >
  <div class="col mb-3 overflow-auto">
    <table mat-table [dataSource]="table.dataSource" matSort class="w-100">

      <!-- Table Columns -->
      <ng-container matColumnDef="CLI_RUT" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header > {{ table.getLabel('CLI_RUT') }} </th>
        <td mat-cell *matCellDef="let row" >  {{ row.CLI_RUT }}  </td>
      </ng-container>

      <ng-container matColumnDef="CLI_NOM">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ table.getLabel('CLI_NOM') }} </th>
        <td mat-cell *matCellDef="let row">  {{ row.CLI_NOM }}  </td>
      </ng-container>

      <ng-container matColumnDef="CLI_DIR">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ table.getLabel('CLI_DIR') }} </th>
        <td mat-cell *matCellDef="let row">  {{ row.CLI_DIR }}  </td>
      </ng-container>

      <ng-container matColumnDef="CLI_CIU">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ table.getLabel('CLI_CIU') }} </th>
        <td mat-cell *matCellDef="let row">  {{ row.CLI_CIU }}  </td>
      </ng-container>

      <ng-container matColumnDef="CLI_COM">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ table.getLabel('CLI_COM') }} </th>
        <td mat-cell *matCellDef="let row">  {{ row.CLI_COM }}  </td>
      </ng-container>

      <ng-container matColumnDef="CLI_FON">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ table.getLabel('CLI_FON') }} </th>
        <td mat-cell *matCellDef="let row">  {{ row.CLI_FON }}  </td>
      </ng-container>

      <ng-container matColumnDef="CLI_EML">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ table.getLabel('CLI_EML') }} </th>
        <td mat-cell *matCellDef="let row">  {{ row.CLI_EML }}  </td>
      </ng-container>

      <!-- Table Actions  -->
      <ng-container matColumnDef="ACTIONS" stickyEnd>
        <th mat-header-cell *matHeaderCellDef> {{ table.getLabel('ACTIONS') }} </th>
        <td mat-cell *matCellDef="let row">
          <app-list-buttons (edit)="edit($event)" (delete)="delete($event)" [row]="row">

              <button  mat-icon-button (click)="edit(row)" class="addButton mx-1 text-info" matTooltip="Correos" matTooltipPosition="right">
                <mat-icon>mail</mat-icon>
              </button>

          </app-list-buttons>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="table.columns"></tr>
      <tr mat-row *matRowDef="let row; columns: table.columns;"></tr>

    </table>

      <mat-paginator #paginator
          [length]="table.dataSource?.data.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 15, 20]">
      </mat-paginator>

    </div>
    </div>
  </div>


